

SELECT * FROM [TABELA DE VENDEDORES]
SELECT * FROM [NOTAS FISCAIS]

SELECT * FROM [TABELA DE VENDEDORES] 
INNER JOIN [NOTAS FISCAIS]
	ON [TABELA DE VENDEDORES].MATRICULA = [NOTAS FISCAIS].MATRICULA

SELECT * FROM [TABELA DE VENDEDORES] A 
INNER JOIN [NOTAS FISCAIS] B 
	ON A.MATRICULA = B.MATRICULA

SELECT TV.MATRICULA, TV.[NOME], COUNT(*) AS VENDAS
FROM [TABELA DE VENDEDORES] TV 
	INNER JOIN [NOTAS FISCAIS] NF
		ON TV.MATRICULA = NF.MATRICULA
GROUP BY 
	TV.MATRICULA, TV.[NOME]

SELECT TV.MATRICULA, TV.[NOME], YEAR(DATA) AS ANO, COUNT(*) AS VENDAS 
FROM [TABELA DE VENDEDORES] TV
	INNER JOIN [NOTAS FISCAIS] NF
		ON TV.MATRICULA = NF.MATRICULA
GROUP BY 
	TV.MATRICULA, TV.[NOME], YEAR(DATA)

SELECT TV.MATRICULA, TV.[NOME], YEAR(DATA) AS ANO, COUNT(*) AS VENDAS
FROM [TABELA DE VENDEDORES] TV
	INNER JOIN [NOTAS FISCAIS] NF
		ON TV.MATRICULA = NF.MATRICULA
GROUP BY 
	TV.MATRICULA, TV.[NOME], YEAR(DATA)
ORDER BY 
	YEAR(DATA), TV.[NOME]

--JOIN NOVO
SELECT * FROM [TABELA DE VENDEDORES] INNER JOIN 
[NOTAS FISCAIS] ON [TABELA DE VENDEDORES].MATRICULA = [NOTAS FISCAIS].MATRICULA

--JOIN ANTIGO
SELECT * FROM [TABELA DE VENDEDORES], [NOTAS FISCAIS]
WHERE [TABELA DE VENDEDORES].MATRICULA = [NOTAS FISCAIS].MATRICULA


-- Exercicio

--Obtenha o faturamento anual da empresa. 
--Leve em consideração que o valor financeiro das vendas consiste em multiplicar a quantidade pelo preço.

SELECT * FROM [NOTAS FISCAIS]
SELECT * FROM [ITENS NOTAS FISCAIS]

SELECT YEAR(NF.DATA) AS ANO, SUM(INF.QUANTIDADE * INF.PREÇO) AS FATURAMENTO
FROM [NOTAS FISCAIS] NF
	INNER JOIN [ITENS NOTAS FISCAIS] INF
		ON NF.NUMERO = INF.NUMERO
GROUP BY YEAR(NF.DATA)